exportPattern("^[[:alpha:]]+")
import("magrittr")
import("sangerseqR")
import("Biostrings")
import("dplyr")
import("stringr")
import("ggplot2")
import("gamlss")
import("gamlss.dist")
import("berryFunctions")
importFrom("tibble","as_tibble","rowid_to_column")
importFrom("readr","read_lines")
importFrom("plyr","ldply")


